name: Build and test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest        

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Use Node.js 18.x
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: 'npm'
    - name: Build application
      run: npm install    
    - name: Run server
      run: node server.js
      working-directory: server
    - name: Inastall Playwright
      run : npx playwright install      
    - name: Run tests
      run : npx playwright test ui.test.js
      working-directory: tests